<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
<!--        开启懒加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
<!--        将积极加载改为消极加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <typeAliases>
        <package name="com.woniu.domain"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="com/woniu/domain/studentBeatMapper.xml"/>-->
<!--        <mapper resource="com/woniu/domain/classBeanMapper.xml"/>-->
<!--        <mapper resource="com/woniu/domain/courseBeanMapper.xml"/>-->
<!--        使用注解开发-->
        <mapper class="com.woniu.dao.interf.IStudentDao"/>
    </mappers>
</configuration>